#player p, span{
    font-size: 25px;
    background-color:black;
    color:white;
    margin:0px;
}
#player button{
    font-size: 25px;
    color:white;
    background-color:black;
    border:1px solid white;
   /* width:50%;*/
}
#player {
    height:15em;
}
